.App {
  background-color: black;
  color: white;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

.Navbar {
  background-color: black;
  float: left;
  writing-mode: tb;
  writing-mode: tb-rl;
  writing-mode: vertical-lr;
  writing-mode: sideways-lr;
  transform: scale(-1);
  padding: 0px 25px;
  height: 100vh;
  text-align: end;
  border-left: 2px solid white;
}

.Navbar img {
  width: 30px;
  padding: 40px 0px 30px;

}

.Navbar p {
  display: inline-block;
  padding-top: 40px;
}

.Navbar .description {
  font-weight: bolder;
  text-transform: uppercase;
}

.Main {
  display: flex;
  flex-direction: column;
}
.Main .row:not(:last-child) {
  border-bottom: 2px solid white;
}
.Main .row-1 { 
  height: 25vh;
}
.Main .row-2 { 
  height: 18vh;
}
.Main .row-3 { 
  height: 30vh;
}
.Main .row-4 { 
  height: 27vh;
}

