@font-face {
  font-family: 'Neufile Grotesk';
  src: url('./Fonts/NeufileGrotesk-Regular.woff2') format('woff2'),
      url('./Fonts/NeufileGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('./Fonts/NeufileGrotesk-ExtraBold.woff2') format('woff2'),
      url('./Fonts/NeufileGrotesk-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('./Fonts/NeufileGrotesk-Light.woff2') format('woff2'),
      url('./Fonts/NeufileGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Neufile Grotesk', -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  --app-border-width: 2px;
  --app-border: var(--app-border-width) solid white;
  --app-min-height: 500px;
  background-color: #141414;
  color: white;
}

.Main {
  margin-left: 80px;
  border-left: var(--app-border);
  min-height: 100vh;
}

.Main>*:not(.Home) {
  padding-bottom: 40px;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 40px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
}

h3 {
  text-transform: uppercase;
  padding: 40px 25px 25px;
  font-size: 30px;
  font-weight: 400;
  border-bottom: var(--app-border);
}

h4 {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 20px;
}

table {
  width: 100%;
  font-size: 20px;
}

.td:first-child {
  padding-right: 20px;
}

td {
  padding-bottom: 5px;
}

img {
  width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
button {
  margin: 0px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: var(--app-border);
}

.Navbar {
  background-color: #141414;
  float: left;
  writing-mode: tb;
  writing-mode: tb-rl;
  writing-mode: vertical-lr;
  transform: scale(-1);
  padding: 0px min(7%, 25px);
  height: 100%;
  min-height: var(--app-min-height);
  text-align: end;
}

.Navbar img {
  width: 30px;
  padding: 40px 0px 30px;
}

.Navbar p {
  display: inline-block;
}

.Home {
  display: flex;
  flex-direction: column;
}

.Home p {
  padding: 15px;
}

.Home .row {
  display: flex;
}

.Home .row:not(:last-child) {
  border-bottom: var(--app-border);
}

.Home .row-1 {
  height: calc(28vh - var(--app-border-width));
  min-height: calc(0.28 * var(--app-min-height) - var(--app-border-width));
}

.Home .row-2 {
  height: calc(22vh - var(--app-border-width));
  min-height: calc(0.22 * var(--app-min-height) - var(--app-border-width));
}

.Home .row-3 {
  height: calc(32vh - var(--app-border-width));
  min-height: calc(0.32 * var(--app-min-height) - var(--app-border-width));
}

.Home .row-4 {
  height: calc(18vh);
  min-height: calc(0.18 * var(--app-min-height));
}

.Home .row-item {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.Home .row-item:not(:last-child) {
  border-right: var(--app-border);
}

.Home .row-1 .row-item-1 {
  width: calc(25% - 2px);
}

.Home .row-1 .row-item-2 {
  width: calc(20% - 2px);
}

.Home .row-2 .row-item-1 {
  width: calc(45% - 2px);
}

.Home .row-2 .row-item-2 {
  width: calc(30% - 2px);
}

.Home .row-3 .row-item-1 {
  width: calc(25% - 2px);
}

.Home .row-3 .row-item-2 {
  width: calc(35% - 2px);
}

.Home .row-3 .row-item-3 {
  width: calc(15% - 2px);
}

.Home .row-3 .row-item-4 {
  width: 25%;
}

.Home .row-4 .row-item-1 {
  width: calc(35% - 2px);
}

.Home .row-4 .row-item-2 {
  width: calc(25% - 2px);
}

.Home .row-4 .row-item-3 {
  width: calc(15% - 2px);
}

.Home .row-1 .row-item-3,
.Home .row-2 .row-item-1,
.Home .row-2 .row-item-3,
.Home .row-3 .row-item-1,
.Home .row-3 .row-item-3,
.Home .row-4 .row-item-2,
.Home .row-4 .row-item-4 {
  cursor: default;
  pointer-events: none;
}

.Header {
  padding: 100px 25px 25px;
  border-bottom: var(--app-border);
}

.TextContainer {
  padding: 80px 25px 25px;
  border-bottom: var(--app-border);
}

.ImageContainer {
  font-size: 0px;
  border-bottom: var(--app-border);
}

.Main .PopUps,
.Main .Menu,
.Main .About {
  padding-bottom: 0px;
}

.split-section {
  display: flex;
}

.split-section .left {
  line-height: 1.5;
}

.split-section .info {
  padding: 25px;
  border-bottom: var(--app-border);
}

.split-section .right {
  border-left: var(--app-border);
  padding-bottom: 40px;
}

.PopUps .left {
  width: 55%;
}

.PopUps .right {
  width: 45%;
}

.Menu .left {
  width: 40%;
}

.Menu .right {
  width: 60%;
}

.About .left {
  width: 60%;
}

.About .right {
  width: 40%;
}

.Contact .details {
  display: flex;
  border-bottom: var(--app-border);
}

.Contact .details p {
  padding: 25px;
  font-weight: 800;
}

.Contact .phone {
  border-left: var(--app-border);
}

@media only screen and (max-width: 769px) {
  .Main {
    margin-left: 75px;
  }

  .Navbar img {
    width: 25px;
  }

  .Home .row {
    flex-direction: column;
    height: auto;
    min-height: 0px;
    background-color: white;
  }

  .Home .row:not(:last-child) {
    border-bottom: none;
  }

  .Home .row .row-item {
    position: relative;
    border-right: none;
    background-color: #141414;
    margin-bottom: 2px;
    width: calc(100% - 30px);
  }

  .Home .row .row-item-border {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2px;
    height: 100%;
    background: white;
  }

  .Home .row-1 .row-item-3,
  .Home .row-2 .row-item-1,
  .Home .row-2 .row-item-3,
  .Home .row-3 .row-item-1,
  .Home .row-3 .row-item-3,
  .Home .row-4 .row-item-2,
  .Home .row-4 .row-item-4 {
    display: none;
  }

  .Home .row-1 .row-item-1 {
    height: 15vh;
    min-height: 100px;
    border-right: 30px solid #ECA88A;
  }

  .Home .row-1 .row-item-2 {
    height: 20vh;
    min-height: 125px;
    border-right: 30px solid #C0877C;
  }

  .Home .row-2 .row-item-2 {
    height: 10vh;
    min-height: 65px;
    border-right: 30px solid #7C3930;
  }

  .Home .row-3 .row-item-2 {
    height: 25vh;
    min-height: 150px;
    border-right: 30px solid #FC7065;
  }

  .Home .row-3 .row-item-4 {
    height: 20vh;
    min-height: 125px;
    border-right: 30px solid #E96879;
  }

  .Home .row-4 .row-item-1 {
    height: 12vh;
    min-height: 75px;
    border-right: 30px solid #F5A29E;
  }

  .Home .row-4 .row-item-3 {
    height: 18vh;
    min-height: 115px;
    border-right: 30px solid #C8A680;
    margin-bottom: 0px;
  }

  .split-section {
    flex-direction: column;
  }

  .split-section .left,
  .split-section .right {
    width: 100%;
    border-left: none;
  }

  .Contact .details {
    flex-direction: column;
  }
  .Contact .phone {
    border-top: var(--app-border);
    border-left: none;
  }
}

@media (hover: hover) {
  .Home .row-1 .row-item-1:hover {
    background-color: #ECA88A;
  }

  .Home .row-1 .row-item-2:hover {
    background-color: #C0877C;
  }

  .Home .row-2 .row-item-2:hover {
    background-color: #7C3930;
  }

  .Home .row-3 .row-item-2:hover {
    background-color: #FC7065;
  }

  .Home .row-3 .row-item-4:hover {
    background-color: #E96879;
  }

  .Home .row-4 .row-item-1:hover {
    background-color: #F5A29E;
  }

  .Home .row-4 .row-item-3:hover {
    background-color: #C8A680;
  }
}